################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/TP-FINAL/TP-Final-Gayoso-MartinSOL/.vs/TP-Final-Gayoso-MartinSOL/v17
